{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="content-cover">
        <div class="row">
            <div class="span6">
                <h2>{{ self.header }}</h2>

                {{ self.description | richtext }}
            </div>
            <div class="span6">
                {% image page.cover_image width-1280 %}
            </div>
        </div>
    </div>
    <div class="row boxes-3">
        <div class="span4">
            <h3 class="title">{{ self.info1_title }}</h3>
                <p>{{ self.info1_text }}</p>
            <p></p>
        </div>
        <div class="span4">
            <h3 class="title">{{ self.info2_title }}</h3>
            <p>{{ self.info2_text }}</p>
        </div>
        <div class="span4">
            <h3 class="title">{{ self.info3_title }}</h3>
            <p>{{ self.info3_text }}</p>
        </div>
    </div>
    <div class="row">
        <div class="span4 link-set">
            <!--<a class="center" href="#">Mehr</a>-->
        </div>
        <div class="span4 link-set">
            <a href="/netiquette/">{{ self.netiquette_linktext }}</a>
            <a href="/datenschutz/">{{ self.privacy_linktext }}</a>
        </div>
        <div class="span4 link-set">
            <a class="center" href="/beteiligungsverfahren/">{{ self.processes_linktext }}</a>
        </div>
    </div>

    <h2 class="bar"><span class="bar-inner">{{ self.current_processes_title }}</span></h2>

    {% include "meinberlin/includes/processes_tile.html" with processes=self.processes %}
    <a href="/prozesse/">{{ self.view_all }}</a>

    <h2 class="bar"><span class="bar-inner">{{ self.past_processes_title }}</span></h2>

    {% include "meinberlin/includes/processes_tile.html" with processes=self.archived %}
    <a href="/archiv/">{{ self.view_all }}</a>
{% endblock %}
