.feature {
    font-size: 80%;
    text-align: center;
    margin-bottom: 2em;
}

.feature-icon {
    display: block;
    color: $color-brand1;
    font-size: 3em;
}

@media (min-width: $breakpoint) {
    .feature-icon {
        font-size: 6em;
    }
}
