/* This is SASS generated code, please only edit liqd.sass */

@import "mixins/mixins";
@import "berlin";

$red: #ec145a;

// TYPE OVERRIDES

h1, h2, h3, h4 {
    color: #4D4D4D;
}

h1 {
    @include rem-size(40px, margin-bottom);
}

h2 {
    @include rem-size(24px);
    @include rem-size(18px, margin-top);
    @include rem-size(20px, margin-bottom);

    &.smaller {
        @include rem-size(14px);
        @include rem-size(40px, margin-top);
        @include rem-size(14px, margin-bottom);
    }
}

h3 {
    &.i {
        @include rem-size(14px);
        color: #333;
        font-style: italic;
        font-weight: normal;
        margin: 0;
    }
}



body {
    @include rem-size(14px);
}

ul.dashes {
    margin-left: 10px;
    margin-bottom: 0.8em;

    li {
        list-style-type: none;
        text-indent:-5px;

        &:before {
            content: "-";
            position: relative;
            left: -5px;
        }
    }
}

// HEADER OVERRIDES

.portal-header,
.container-wrapper.container-content {
    @include box-shadow(none);
}

.portal-header {
    margin: 0;
}

$logo-size: 130px;
$logo-offset: 50px;

#meinberlin-logo {
    img {
        position: relative;
        top: -$logo-offset;
    }
}

.content-navi-wrapper {
    margin-bottom: 40px;

    .content-navi-top {
        .nav {
            margin-bottom: $logo-offset - $logo-size - 10px;
            width: 100%;

            &.level1>li:focus,
            &.level1>li:hover {
                @include box-shadow(none);
                border-color: transparent;
                background: none;

                a {
                    color: #000;
                }
            }

            li {
                &.user-indicator-login, &.user-indicator-register {
                    float: right;
                }

                &.register {
                    margin-right: 0;

                    a {
                        padding-right: 0;
                    }
                }

                a {
                    padding-bottom: 0;
                    padding-top: 0;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .beberlin {
            right: 0;
            top: 55px;

            img {
                max-width: 130px;
            }
        }
    }
}

// ** //

.content-cover {
    @include rem-size(50px, padding-bottom);
    border-bottom: 2px solid #DAD5D3;
}

.boxes-3 {
    .title {
        @include rem-size(20px, padding-bottom);
        @include rem-size(50px, padding-top);
        text-align: center;
    }
}

.link-set {
    @include clearfix;
    border-top: 2px solid #325E9F;
    text-align: center;
    a {
        float: left;
        padding: 5px 0;
        width: 50%;
    }

    .center {
        width: 100%;
    }
}

.bar {
    @include rem-size(16px);
    @include rem-size(32px, margin-bottom);
    @include rem-size(48px, margin-top);
    color: #828095;
    font-weight: normal;

    .bar-inner {
        @include inline-block;
        background: #fff;
        z-index: 1;
    }

    .bar-inner, & {
        @include rem-size(16px, padding-right);
        position: relative;
    }

    &:after {
        border-bottom: 2px solid #DAD5D3;
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
    }
}

.section {
    @include rem-size(60px, margin-bottom);

    h4 {
        text-decoration: underline !important;
        font-weight: normal;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img {
        margin-bottom: 20px;
        max-width: 630px;
    }
}

.box-process {
    margin-bottom: 20px;
    min-height: 410px;
    position: relative;
    padding-bottom: 1em;

    &, .copyright {
        background: #f2f2f2;
        @include transition(background 0.2s ease-in);
    }

    @media screen and (max-width:769px) {
        min-height: 1px;
        overflow: hidden;
    }

    .img-wrapper {
        max-height: 20em;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        .copyright {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 0 0.2em;
        }

        &:after {
            background-image: url('../images/LOGO.png');
            background-size: 60px 60px;
            content:"";
            height: 60px;
            right: 10px;
            position: absolute;
            bottom: 10px;
            width: 60px;
        }
    }

    .title {
        color: #333333;
        @include rem-size(20px);
        padding: 0 10px;
    }

    .city {
            color: $red;
            font-weight: normal;
            display: block;
            text-transform: none;
            padding-left: 10px;
            min-height:40px;
    }
    .info {
        color: #333333;
        margin-top: 16px;
        padding: 0 10px;
        min-height: 80px;
    }
    .copyright, .click {
        @include rem-size(10px);
        color: #808080;
        line-height: 1.2;
    }

    .click {
        position: absolute;
        bottom: 10px;
        left: 0;
        color: $red;
        padding: 0 10px 0;
    }

    &:hover,
    &:focus {
        &, .copyright {
            background: darken(#f2f2f2, 5%);
        }

        &, * {
            text-decoration: none !important;
        }
    }

    &.process-other {

        .city {
            color: #808080;
        }

        .info {
            color: #333333;
        }

        &:after {
            display: none;
        }
    }
}

.participation-row {
    @include rem-size(30px, margin-bottom);

    h2 {
        @include rem-size(16px);
        @include rem-size(16px, margin-bottom);
        color: #000;
        font-size: 20px;
        margin-top: 0;
    }

    p {
        @include rem-size(12px);
        color: #333;
        line-height: 1.2;
    }

    .info {
        font-weight: bold;
    }

    img {
        @include box-shadow(10px, 10px, 0, $red);
    }

    .text {
        padding-left: 10px;
    }

    .hr {
        @include rem-size(40px, margin-top);
        border-bottom: 2px solid #ccc;
    }

    &.last {
        .hr {
            display: none;
        }
    }
}

.big-link {
    background-color: #f2f2f2;
    color: #333;
    display: block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none !important;


    h3 {
        color: #333333;
        @include rem-size(20px);
        padding: 0 10px;
    }

    .city {
        color: $red;
    }

    .info{
        color: #333333;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    &:hover,
    &:focus {
        background: darken(#f2f2f2, 5%);

        &, * {
            text-decoration: none !important;
        }
    }

    .click {
        @include rem-size(10px);
        color: $red;
    }
}

.process-archive {
    .box-process {
        min-height: 250px;

        &:hover, &:focus {
            background: #f2f2f2;
        }
    }
}

.user-indicator {
    text-align: right;
    line-height: 1.385em;
    line-height: 32px;

    a {
        display: inline-block;
        padding-right: 10px;
    }

    .user-indicator-name,
    .user-indicator-logout,
    &.is-logged-in .user-indicator-register,
    &.is-logged-in .user-indicator-login {
        display: none;
    }

    &.is-logged-in .user-indicator-name,
    &.is-logged-in .user-indicator-logout {
        display: initial;
    }
}

.menu-button {
    background: url('../images/bars.png') no-repeat;
    display: block;
    height: 32px;
    text-indent: -9999px;
    width: 32px;
}

 .mobile-menu {
    background:     url('../images/LOGO.png') 5px center no-repeat,
                    url('../images/bg-amplitude-blue.gif') bottom left no-repeat;
    background-size: contain, contain;
    min-height: 50px;
    display: none;

    .menu-button, .user-indicator {
        float: right;
    }
}

#wagtail-userbar {
    display: none;
}


@media screen and (max-width: 767px) {
    .portal-header .red-line {
        top: -15px !important;
        right: -10px !important;
    }
    #meinberlin-logo,
    .container-portal-header {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .content-navi-wrapper.navbar {
        .collapse {
            border: 0;
            height: auto;
        }

        &.m-open {
            display: block !important;
        }

        ul.nav {
            margin-top: 10px;

            .user-indicator-login, .user-indicator-register {
                display: none;
            }
        }
    }
}
