{% load wagtailimages_tags wagtailcore_tags %}

<a class="span3 box-process external" href="{{ process.externalprocess.external_url }}" target="_blank" rel="external">
    <div class="img-wrapper">
        {% image process.image fill-640x480 %}
        <p class="copyright">&#169; {{ process.image_copyright }}</p>
    </div>
    <h3 class="title">{{ process.title }}</h3>
    <span class="city">{{ process.city }}</span>
    <p class="info">{{ process.short_description }}</p>
    <span class="click">&#x21AA; {% if process.archived %}zum Archiv{% else %}zur externen Beteiligung{% endif %}</span>
</a>
